* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: Roboto, "Segoe UI", Arial, sans-serif;
  background-color:#0079BF;
  padding: 20px;
  display: flex;
  min-height: 100vh;
}

.column-wrapper {
  width: 400px;
  margin-right: 20px;
}

.column-wrapper:last-child {
  margin-right: 0;
}

.display-none.display-none {
  display: none;
}
