* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color:#0079BF;
  font-family: Roboto, "Segoe UI", Arial, sans-serif;
  min-height: 100vh;
  padding: 20px;
}

.column-container {
  display: flex;
}

.column-wrapper {
  width: 400px;
  margin-right: 20px;
}

.column-wrapper:last-child {
  margin-right: 0;
}

.display-none.display-none {
  display: none;
}

.drag.drag {
  position: absolute;
  z-index: 999;
  transition: none;
  /* transform: rotate(5deg); */
}